<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-theme.min.css">
    <script src="/static/vue.js"></script>
    <script src="/static/vue-router.js"></script>
</head>
<body>
<div id="app">
    <h1>Hello App!</h1>
    <p>
        <!-- 使用指令 v-link 进行导航。 -->
        <a v-link="{ path: '/foo' }">Go to Foo</a>
        <a v-link="{ path: '/bar' }">Go to Bar</a>
        <a v-link="{ path: '/foo/bar' }">Go to Foo/Bar</a>
    </p>
    <!-- 路由外链 -->
    <router-view></router-view>
</div>
<script>
    var Foo=Vue.extend({
        template:'<div class="foo">' +
        '<h2>This is Foo!</h2>' +
        '<router-view></router-view>' + // <- 嵌套的外链
        '</div>',
        data:function () {
            return {
                a:0,
                b:0
            }
        },
        route: {
            canActivate:function ({next}) {
                console.log("can active")
                setTimeout(next,100)
            },
            canDeactivate: function (transition) {
                console.log('can deactivated!')
                transition.next()
            },
            activate: function () {
                console.log('foo activating!')
                return new Promise(function (resolve,reject) {
                    setTimeout(function () {
                        console.log("foo activated");
                        resolve();
                    },200)
                })
            },
            data:function ({next}) {
                console.log("data");
                console.log(this.$data.a);
                next({
                    a:1,
                    b:2
                })
            },
            deactivate: function (transition) {
                console.log('foo deactivated!')
                transition.next()
            }
        }
    });
    var Bar=Vue.extend({
        data:function () {
            return {
                c:0
            }
        },
        template:'<div>' +
        '<div v-if="$loadingRouteData">Loading ...</div>'+
        '<div v-if="!$loadingRouteData">' +
            '<p>当前路径: {{$route.path}}</p>'+
            '<p>当前路由参数: {{$route.params | json}}</p>'+
            '<p>This is bar!</p>' +
        '</div>'+
        '</div>',
        route:{
            data:function ({next}) {
                console.log("data");
                console.log(this.$data.c);
                setTimeout(next.bind(this,{c:1}),500);
            },
        }
    });
    var App=Vue.extend({});
    var router=new VueRouter();
    router.map({
        '/foo':{
            component:Foo,
            subRoutes:{
                '/':{
                    component:{
                        template:'<p>default view of Foo</p>'
                    }
                },
                'bar':{
                    component:Bar
                }
            },
            auth:true
        },
        'bar':({
            component:Bar
        }),
        '/user/:username': {
            component: {
                template: '<p>用户名是{{$route.params.username}}</p>'
            }
        }
    });
    router.start(App,"#app");
    router.beforeEach(function (transition) {
        console.log(transition);
        console.log("fromAuth:"+transition.from.auth);
        console.log("toAuth:"+transition.to.auth);
        transition.next();
    })
</script>
</body>
</html>
